<!--
    Author: Juan M. Chavez
    Date: 3-10-17
    File: auth.html
    Description: The login/registration view for the home page

    3/10
        Created the file
        Added two panels for login and register

    3/13
        Setup the angular necessary to get the compareTo directive to work
        Added an ng-show to display text if the passwords don't match

    3/14
        Added models to the inputs for our registration form
        The button is now disabled until the form is valid
-->

<div class="container">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Login</div>
            <div class="panel-body">
                <form ng-submit="auth.login()">
                    <span ng-show="auth.error">{{auth.error}}</span>
                    <div class="form-group">
                        <label>Email Address</label>
                        <input type="email" class="form-control" ng-model="auth.login.user.email">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" ng-model="auth.login.user.pwd">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Register</div>
            <div class="panel-body">
                <form name="register" ng-submit="auth.register()">
                    <div class="form-group">
                        <label>Email Address</label>
                        <input type="email" class="form-control" ng-model="auth.user.email" ng-required="true">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" name="pwd" ng-model="auth.user.pwd" ng-required="true">
                    </div>
                    <div class="form-group">
                        <label>Password Confirm</label>
                        <input type="password" class="form-control" compare-to="auth.user.pwd" name="pwdConfirm" ng-model="pwdConfirm" ng-required="true">
                    </div>
                    <p ng-show="register.pwdConfirm.$dirty && register.pwdConfirm.$invalid" style="color: red">Passwords do not match</p>
                    <button type="submit" class="btn btn-primary" ng-disabled="register.$invalid">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>